<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdd" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISub" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8085/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAdd" contract="Calc_SvcRef.IAdd"
                name="BasicHttpBinding_IAdd" />
            <endpoint address="http://localhost:8085/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ISub" contract="Calc_SvcRef.ISub"
                name="WSHttpBinding_ISub">
                <identity>
                    <userPrincipalName value="Nitesh-PC\Nitesh" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>